body{
	color: #666 !important;
}

body a{
	color: #55B0E0;
}
body a:hover{
	color: #339AD1;
}

#main{
	width: 95%;
	margin: 50px auto;	
}

.drops-blue, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, .h6{
	color:#55B0E0 !important;
}


.panel-default>.panel-heading {
    color: #fff !important;
    background-color: B0DEF6 !important;
    font-weight: bold;
}

.panel-default>.panel-heading, .panel-default, .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-color: #B0DEF6 !important;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th{
    padding: 15px !important;
}
.navbar-default{
    box-shadow: 1px 2px 4px rgba(0,0,0, .15);
    border: none !important;
}